<?xml version="1.0"?>
<!--
  Para obtener más información sobre cómo configurar la aplicación de ASP.NET, visite
  http://go.microsoft.com/fwlink/?LinkId=169433

  <add connectionString="Data Source=192.168.1.98\TORRESG;Initial Catalog=THOR26122019;User ID=aMarin;Password=1ndr2s;multipleactiveresultsets = true" name="ConexionBD" providerName="System.Data.SqlClient" />
  -->
<configuration>
  <connectionStrings>
    <add connectionString="Data Source=CO-IT002677;Initial Catalog=thor_pruebas;Integrated Security=True;" name="ConexionBD" providerName="System.Data.SqlClient"/>
  </connectionStrings>
  <system.web>
    <pages>
      <controls>
        <add tagPrefix="ajaxToolkit" namespace="AjaxControlToolkit" assembly="AjaxControlToolkit"/>
      </controls>
    </pages>
    <customErrors mode="Off"/>
    <authentication mode="Forms">
      <forms name="MyAuth" protection="All" timeout="60" loginUrl="~/Login.aspx" defaultUrl="~/escritorio" slidingExpiration="true"/>
    </authentication>
    <sessionState mode="InProc" cookieless="false" timeout="60"/>
    <compilation debug="true" targetFramework="4.0">
      <assemblies>
        <add assembly="System.Design, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A"/>
        <add assembly="System.Web.Extensions.Design, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35"/>
        <add assembly="System.Windows.Forms, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089"/>
        <add assembly="AjaxControlToolkit"/>
      </assemblies>
    </compilation>
    <httpRuntime targetFramework="4.5" executionTimeout="80000" maxRequestLength="80000"/>
  </system.web>
  <system.webServer>
    <handlers>
      <add name="ReportViewerWebControlHandler" preCondition="integratedMode" verb="*" path="Reserved.ReportViewerWebControl.axd" type="Microsoft.Reporting.WebForms.HttpHandler, Microsoft.ReportViewer.WebForms, Version=11.0.0.0, Culture=neutral, PublicKeyToken=89845dcd8080cc91"/>
    </handlers>
    <modules runAllManagedModulesForAllRequests="true">
      <remove name="Session"/>
      <add name="Session" type="System.Web.SessionState.SessionStateModule"/>
    </modules>
    <defaultDocument>
      <files>
        <add value="login.aspx"/>
      </files>
    </defaultDocument>
    <rewrite>
      <outboundRules>
        <preConditions>
          <preCondition name="ResponseIsHtml1">
            <add input="{RESPONSE_CONTENT_TYPE}" pattern="^text/html"/>
          </preCondition>
        </preConditions>
      </outboundRules>
    </rewrite>
    <staticContent>
      <remove fileExtension=".woff2"/>
      <mimeMap fileExtension=".woff2" mimeType="application/font-woff2"/>
    </staticContent>
  </system.webServer>
  <appSettings>
    <add key="ValidationSettings:UnobtrusiveValidationMode" value="None"/>
    <add key="ValidationSettings:UnobtrusiveValidationMode" value="None"/>
    <add key="url_webapi_token" value="https://transac.globalseguroscolombia.com/WebApiPolNal/Token"/>
    <add key="url_webapi_upload" value="https://transac.globalseguroscolombia.com/WebApiPolNal/api/SubirArchivo"/>
    <add key="url_webapi_upload_pdf" value="https://transac.globalseguroscolombia.com/WebApiPolNal/api/FileUpload"/>
    <add key="user" value="polinacional@globalseguros.co"/>
    <add key="password" value="Gl0b4lPol!"/>
    <add key="scope" value="password"/>
  </appSettings>
  <system.serviceModel>
    <behaviors>
      <serviceBehaviors>
        <behavior name="">
          <serviceMetadata httpGetEnabled="true" httpsGetEnabled="true"/>
          <serviceDebug includeExceptionDetailInFaults="false"/>
        </behavior>
      </serviceBehaviors>
    </behaviors>
    <serviceHostingEnvironment aspNetCompatibilityEnabled="true" multipleSiteBindingsEnabled="true"/>
  </system.serviceModel>
</configuration>